@{
    ViewBag.Title = "Medicare Eligibility Answers - Blue Cross Blue Shield NC";
}


<div class="jumbotron jumbotron-bg bottom-pad-34px spacing-left-right">
        <h2><b>You're off to Good Start.</b></h2>
        <h3 class="h3-content">Count on us to help with your next steps.</h3>
        <div class="center-block">
            <p>
                As you make the transition to Medicare, remember that Blue Cross and Blue Shield of North Carolina (Blue Cross NC) is
                always here for you. We've been helping our neighbors with Medicare since the program began. We are Medicare.
            </p>

        </div>
        <div>
            <div class="row centered centered-pd">
                <div class="col-md-4">
                    Take the right step before your 65th birthday:
                    <p class="top-pd-15px">
                        <a class="btn btn-default btn-default-bg" href="#checklist">MEDICARE CHECKLIST &gt;</a>
                    </p>
                </div>
                <div class="col-md-4 left-content left-pad-9px">
                    Choose the right type of plan for your needs:
                    <p class="left-pad-19px top-pd-15px">
                        <a class="btn btn-default btn-default-bg" href="#compare">QUICK PLAN COMPARISON &gt;</a>
                    </p>
                </div>
            </div>
        </div>
    
</div>

<div class="jumbotron jumbotron-bottom jumbotron-bg-light" id="checklist">
    <div class="jumbotron-pd margin-top-33px">
        <div class="row display-block screen-margin-left-right">
            <div class="col-md-4">
                <img src="~/Content/Images/medicare-quick.jpg" class="img-width" />
            </div>
            <div class="col-md-8 margin-top-23px">
                <h3 class="bottom-pad-10px"><img src="~/Content/Images/info.png" class="info-img"/> <b>Medicare Checklist</b></h3>
                <h5>Follow these steps to get ready for Medicare before your 65th birthday:</h5>
            </div>
            </div>
            <div class="mid-row"></div>
            <div class="row row-left bottom-pad-7px screen-margin-left-right">
                <div class="col-md-4 left-padding-0px">
                    <h5 class="heading-left">12-6 months before:</h5>
                    <ul class="medicare-ul-content">
                        <li class="li-item-left">Confirm you eligibility for Medicare at www.Medicare.gov. Not retiring yet? You can still get Medicare.</li>
                        <li class="li-item-left">Compare your options for getting more coverage than Original Medicare (Blue Cross NC Plans, retiree or employee benefits) </li>
                    </ul>
                </div>
                <div class="col-md-4 left-padding-0px">
                    <h5 class="heading-left">3 months before:</h5>
                    <ul class="medicare-ul-content">
                        <li class="li-item-left">Signup for Medicare Parts A &amp; B at ssa.gov/medicare. If you already have Social Security, you may be automatically enrolled.</li>
                        <li class="li-item-left">Enroll in Blue Medicare Advantage or Blue Medicare Supplement and Part D Prescription Drug Plan (If you don't have an employer/retiree Plan) </li>
                    </ul>
                </div>
                <div class="col-md-4 left-padding-0px">
                    <h5 class="heading-left">Birthday - 3 months before:</h5>
                    <ul class="medicare-ul-content">
                        <li class="li-item-left">Last chance to enroll for coverage under the Medicare Initial Enrollment Period!. If you wait until later, you will have to answer health questions on an application and could be turned down.</li>

                    </ul>
                </div>
            </div>
        </div>
</div>

<div class="jumbotron jumbotron-bg-dark">
    
    <div class="row row-centered">
            <div class="col-md-6 strip-content">
                <h4>Find the Medicare Plan That's Right for You:</h4>
            </div>
            <div class="col-md-4 strip-button">
                <a class="btn btn-default btn-default-bg-white medicare-ul-content" data-toggle="modal" data-target="#redirectConfirmModel" data-target-url="http://www.bcbsnc.com/content/medicare/shopper/index.htm?tab=benefits"><b>LEARN MORE ABOUT YOUR OPTIONS &gt;</b></a>
            </div>
    </div>
</div>

<div class="jumbotron jumbotron-bottom jumbotron-bg-light" id="compare">
    <div class=" jumbotron-pd padding-top-37px">
        <div class="row display-block screen-margin-left-right">
            <div class="col-md-4">
                <img src="~/Content/Images/medicare-quick.jpg" class="img-width" />
            </div>
            <div class="col-md-8 top-left-pd">
                <h2><img src="~/Content/Images/info.png" class="info-img" /> Quick Plan Comparison</h2>
                <h5>Blue Cross NC offers two types of plan to give you more coverage than Original Medicare. Once you know which type of plan you want, you can choose from more options to meet your healthcare needs and budget.</h5>
            </div>
        </div>
        <div class="mid-row"></div>
        <div class="row row-left screen-margin-left-right">
            <table class="table table-bordered margin-top-bottom-table compareTable">
                <thead>
                    <tr>
                        <th scope="col" class="compareContent"></th>
                        <th scope="col" class="compareContent"><b>Blue Medicare Advantage</b><br />All-in-one plan like the coverage you had before Medicare</th>
                        <th scope="col" class="compareContent"><b>Blue Medicare Supplement</b><br />Combines with Original Medicare to give you more coverage </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>$0 monthly premium option</td>
                        <td class="tbl-col-mid"><img src="~/Content/Images/check-mark.jpg" /></td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td>Precription drug option</td>
                        <td class="tbl-col-mid"><img src="~/Content/Images/check-mark.jpg" /></td>
                        <td class="tbl-col-mid">Offered separately (Part D plan)</td>
                    </tr>
                    <tr>
                        <td>No referrals to see a doctor or specialist</td>
                        <td class="tbl-col-mid"><img src="~/Content/Images/check-mark.jpg" /></td>
                        <td class="tbl-col-mid"><img src="~/Content/Images/check-mark.jpg" /></td>
                    </tr>
                    <tr>
                        <td>Go to any healthcare provider nationwide that accepts Medicare</td>
                        <td class="tbl-col-mid">PPO plans only</td>
                        <td class="tbl-col-mid"><img src="~/Content/Images/check-mark.jpg" /></td>
                    </tr>
                    <tr>
                        <td>Silver and Fit<sup>&#174;</sup> program with access to fitness facilities included</td>
                        <td class="tbl-col-mid"><img src="~/Content/Images/check-mark.jpg" /></td>
                        <td class="tbl-col-mid">$50 per year additional</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="jumbotron jumbotron-bg-dark">
    <div class="row row-centered">
        <div class="col-md-6 strip-content">
            <h4>Find the Medicare Plan That's Right for You:</h4>
        </div>
        <div class="col-md-4 strip-button">
            <a class="btn btn-default btn-default-bg-white medicare-ul-content" data-toggle="modal" data-target="#redirectConfirmModel" data-target-url="http://www.bcbsnc.com/content/medicare/shopper/index.htm"><b>LEARN MORE ABOUT YOUR OPTIONS &gt;</b></a>
        </div>
    </div>
</div>
<div class="jumbotron jumbotron-bottom jumbotron-bg-light top-pading-48px">
    <div class="jumbotron-pd">
        <div class="row screen-margin-left-right">
            <div class="col-md-12">
                <h3><b>Benefits of Buying a Blue Cross NC Plan:</b></h3>
            </div>
        </div>
        <div class="row screen-margin-left-right">
            <div class="col-md-12">
                <hr class="hr-margin-bottom" />
            </div>
        </div>

        <div class="row screen-margin-left-right screen-margin-left-right">
            <div class="col-md-4 col-center">
                <img src="~/Content/Images/info.png" /> <br />
                Large network of doctors and facilities.
            </div>
            <div class="col-md-4 col-center">
                <img src="~/Content/Images/info.png" /> <br />
                Trusted in North Carolina for over 80 years.
            </div>
            <div class="col-md-4 col-center">
                <img src="~/Content/Images/info.png" /> <br />
                Local customer service.
            </div>
        </div>
        <div class="row row-margin-top screen-margin-left-right margin-bottom-29px">
            <div class="col-md-4 col-center">
                <img src="~/Content/Images/info.png" /> <br />
                Plans with coverage statewide, across the country and around the world.
            </div>
            <div class="col-md-4 col-center">
                <img src="~/Content/Images/info.png" /> <br />
                Online tools to view claims and benefits and find doctors, drugs and pharmacies.
            </div>
            <div class="col-md-4 col-center">
                <img src="~/Content/Images/info.png" /> <br />
                Voted one of the world's most ethical companies.
            </div>
        </div>
    </div>
</div>

    <!-- Button trigger modal -->
    @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
            Launch demo modal
        </button>*@

    <!-- Modal -->
    <div class="modal fade" id="welcomeMedicare" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog clearfix">
            <div class="modal-content clearfix">
                <div class="modal-inner-content clearfix">
                    <div class="modal-header clearfix">
                        @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                <img src="/Images/clickOutX.png" class="img-responsive" alt="">
                            </button>*@
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title text-center">Welcome to Blue Cross and Blue Shield of North Carolina's Counting Down to Medicare Website</h4>
                        <p>Please provide the information below for your own personalized Medicare web experience.</p>
                        <p class="save-error" style="display: none;">
                            There was an error. Please try again.
                        </p>
                    </div>
                    <!-- end /modal header -->

                    <div class="modal-body clearfix">
                        <form action="/reg" method="post" class="form-horizontal" id="formUniqueID" role="form" data-bv-message="This value is not valid" data-bv-feedbackicons-valid="glyphicon glyphicon-ok" data-bv-feedbackicons-invalid="glyphicon glyphicon-remove" data-bv-feedbackicons-validating="glyphicon glyphicon-refresh" data-bv-submitbuttons="button[type=&quot;submit&quot;]" data-bv-live="enabled" data-parsley-validate="" novalidate="novalidate">

                            <div class="form-group">

                                <div class="col-sm-3">
                                    <label class="control-label" for="email-field">*Email:</label>
                                </div>
                                <div class="col-sm-9">
                                    <input name="email" type="email" class="form-control" id="email-field" data-parsley-required="">
                                </div>

                            </div>

                            <!-- end /form group -->

                            <div class="form-group">

                                <div class="col-xs-5">
                                    <label class="control-label" id="reference-label" for="id">Easy Reference Number:</label>
                                </div>

                                <div class="col-xs-7">
                                    <input name="refnum" id="refnum" type="text" class="form-control" data-parsley-minlength="6" data-parsley-maxlength="6" data-parsley-pattern="^[1-5iIlL][a-km-np-zA-KM-NP-Z]{5}$">
                                </div>

                                <div class="col-xs-12 refer-to-mail">
                                    <!--<span data-toggle="modal" data-target="#myModal1a" class="help-block text-center">
                                    <span ddata-toggle="popover" data-content="And here's some amazing content. It's very engaging. right?" class="help-block text-center">-->
                                    <a id="popovers" class="btn help-block text-center" rel="popover" data-trigger="hover" data-placement="top" data-content="" data-original-title="" title=""><img src="~/Content/Images/info.png" alt="Alternate Text"></a> <span class="info-popover-text">Refer to your mail piece for your easy reference number.</span>
                                </div>
                            </div>
                            <!-- end /form group -->

                            <div class="form-group">
                                <div class="text-center col-xs-12 modal-buttons">
                                    <button type="button" class="btn btn-primary btn-lg">Next</button>
                                    <button type="button" class="btn btn-warning btn-lg" data-dismiss="modal" aria-hidden="true">No Thanks</button>
                                </div>
                            </div>
                            <!-- end /form group -->

                        </form>
                    </div>
                    <!-- end /modal-body -->

                    <div class="modal-footer clearfix">
                        <p>* By providing your email address you are giving BCBSNC consent to send email communication regarding this product. Your information will not be distributed, shared, sold or used for any other purpose.</p>
                    </div>
                    <!-- end /.modal-footer -->
                </div>
                <!-- end /.modal-inner-content -->
            </div>
            <!-- end /.modal-content -->
        </div>
        @*<div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div>
                                <h4 class="modal-title text-center">Welcome to Blue Cross and Blue Shield of North Carolina's Counting Down to Medicare Website</h4>
                            </div>
                            <div>
                                <label class="form-check-label">Please provide the information below for your own personalized Medicare web experience.</label>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email:</label>
                                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label for="refNumber">Easy Reference Number:</label>
                                <input type="text" class="form-control" id="refNumber" placeholder="Enter Easy Reference Number">
                            </div>
                            <div>
                                <label class="form-check-label">Refer to your mail piece for your easy reference number.</label>
                            </div>
                            <div>
                                <label class="form-check-label">* By providing your email address you are giving BCBSNC consent to send email communication regarding this this product. Your information will not be distributed, shared, sold or used for any other purpose.</label>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Next</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No Thanks</button>
                    </div>
                </div>
            </div>*@
    </div>

    <div class="modal fade" id="redirectConfirmModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    Are you sure that you want to perform this action?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="targetUrl" name="targetUrl">Proceed</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.0/jquery.cookie.min.js">
        </script>
        <script type="text/javascript">
            $(document).ready(function () {
                if ($.cookie('pop') == null) {
                    $('#welcomeMedicare').modal('show');
                    $.cookie('pop', '7');
                }
                else {
                    $("#welcomeMedicare").modal('hide');
                }
                
            });

            $('#redirectConfirmModel').on('show.bs.modal', function (e) {
                var targetUrl = $(e.relatedTarget).data('target-url');
                $(e.currentTarget).find('button[name="targetUrl"]').val(targetUrl);

                $(e.currentTarget).find('button[name="targetUrl"]').click(function () {
                    javascript: window.location = targetUrl;
                });

            });
        </script>


    }
